// ==== CONFIGURATION ==== //

/* Set all configuration variables here. */

/* 
 * 1. Breakpoints
 * 2. Typography
 * 3. Colors
 * 4. Borders
 * 5. Animations
 * 6. Metadata
 */



 // 1. Breakpoints //

$breakpoints: (
	small: 576px,
	medium: 769px,
	large: 1025px,
	x-large: 1441px,
);

/* You can use any valid arguments inserted into mappy-bp as the map values. Any of the following would do. */
$mappy-queries: (
	phone: mappy-bp(max-width small),
	phone-tablet: mappy-bp(max-width medium),
	tablet: mappy-bp(small medium),
	tablet-desktop: mappy-bp(small),
	desktop: mappy-bp(medium),
	desktop-large: mappy-bp(large),
);



// 2. Typography //

$sans: 'Bliss', 'Source Sans Pro', 'Freight Sans Pro', Helvetica, sans-serif;
$sans-normal: 300;
$sans-medium: 400;
$sans-bold:   600;

$ms-base: 1rem;
$ms-ratio: 1.2;

$typi: (
	null: (16px, 1.5),
	medium: (21px, 1.6),
	x-large: (28px),
);



// 3. Colors //

$base-blue: #1366A9;      /* #0064A6 */
$base-turquoise: #21A7AC; /* #009B90 */
$base-purple: #741868;    /* #741669 */
$base-pink: #AC1743;      /* #AD1644 */
$base-orange: #E06f3B;    /* #DE6328 */

$factor-lighten: 8%;
$factor-darken: 8%;

/*
 * Sass map for the color palette; see `_library.scss` for the palette() function. 
 */
$_palettes: (
		blue: (
				base:  $base-blue,
				light: lighten($base-blue, $factor-lighten),
				dark:  darken($base-blue, $factor-darken)
		),
		turquoise: (
				base:  $base-turquoise,
				light: lighten($base-turquoise, $factor-lighten),
				dark:  darken($base-turquoise, $factor-darken)
		),
		purple: (
				base:  $base-purple,
				light: lighten($base-purple, $factor-lighten),
				dark:  darken($base-purple, $factor-darken)
		),
		pink: (
				base:  $base-pink,
				light: lighten($base-pink, $factor-lighten),
				dark:  darken($base-pink, $factor-darken)
		),
		orange: (
				base:  $base-orange,
				light: lighten($base-orange, $factor-lighten),
				dark:  darken($base-orange, $factor-darken)
		),
		gray: (
				base:    #717073,
				lighter: #F5F5F5,
				light:   #DDDCE0,
				dark:    #515152,
				darker:  #333234
		),
		white: (
				base:    #fff,
				light:   #fdfdfd,
				dark:    #fff,
		)
);



// 4. Borders //

$border-gray: 1px solid #DDDCE0;
$border-grey: $border-gray;



// 5. Animations //

$anim-s: .15s cubic-bezier(0,0,.2,1);
$anim-m: .3s cubic-bezier(0,0,.2,1);
$anim-l: .45s cubic-bezier(0,0,.2,1);



// 6. Metadata //

/* 
 * Sass map for the metadata.
 * See `_library.scss` for the metadata() function. 
 */
$_metadata: (
	theme-name:               "UWCde Website",
	theme-uri:                "https://github.com/uwc/uwcde-website",
	theme-author:             "Connor Bär",
	theme-author-uri:         "http://connorbaer.io",
	theme-description:        "An open-source WordPress child theme for UWC Germany.",
	theme-template:			  "uwc-website",
	theme-version:            "1.0.1",
	theme-license:            "MIT",
	theme-license-uri:        "https://opensource.org/licenses/MIT",
	theme-tags:               (custom-menu, editor-style, featured-image-header, featured-images, post-formats, sticky-post, theme-options, education, translation-ready),
	theme-text-domain:        "uwcde-website",
	github-theme-uri:         "https://github.com/uwc/uwcde-website",
	github-branch:            "master"
);