# Install by running `bower install`
bower_components/

# Install by running `npm install`
node_modules/

# Install by running `./composer.phar update`
vendor/

# Run `gulp` to generate the theme directory.
uwcde-website/

# Run `gulp dist` to generate the distribution directory.
dist/
