// ==== ARTICLE ==== //

/* Style post and page content here, including the navigation and footer. */

/**
 * 1. Navigation
 * 2. Content
 * 3. Footer
 */


// 1. Navigation //

.entry-navigation {
  @include ctnr(golden);
  margin-bottom: vr(1);
  width: inherit;
  h6 {
    @include font(small);
    margin-bottom: vr(0.25);
  }
  .entry-links {
    width: inherit;
    padding-top: vr(0.25);
    padding-bottom: vr(0.25);
    border-top: $border-gray;
    border-bottom: $border-gray;
  }
  li {
    display: inline-block;
  }
  a {
    @include font(button);
    @include link-arrow(down, purple);
    display: inline-block;
    margin-right: vr(1.5);
    white-space: nowrap;
  }
}


// 2. Content //

/* See '_content.scss' for the content styling. */

.entry-content {
  @include ctnr(golden);
  .shariff {
    margin-top: vr(1.5);
    margin-bottom: vr(1.5);
    a:after {
      display: none;
    }
  }
  .page-links {
    @include font(button);
    text-align: center;
    a {
      color: palette(purple);
    }
  }
}



// 3. Footer //

.post-navigation {
  @include ctnr(golden);
  @include clearfix;
  clear: both;
  padding-top: vr(0.75);
  padding-bottom: vr(1.5);
  .nav-previous {
    float: left;
    a {
      @include font(button);
      @include link-arrow(left, purple);
    }
  }
  .nav-next {
    float: right;
    a {
      @include font(button);
      @include link-arrow(right, purple);
      text-align: right;
    }
  }
}

.widget-area {
  @include ctnr(golden);
}

#comments {
  @include ctnr(golden);
}
