h1 {
	@include font(header1);
	color: palette(blue);
	margin-top: vr(1);
	margin-bottom: vr(0.5);
}

h2 {
	@include font(header2);
	color: palette(blue);
	margin-top: vr(1);
	margin-bottom: vr(0.5);
}

h3 {
	@include font(header3);
	color: palette(gray);
	margin-top: vr(1);
	margin-bottom: vr(0.5);
}

h4, h5, h6 {
	@include font(header4);
	color: palette(gray);
	margin-top: vr(0.5);
	margin-bottom: vr(0.5);
}

p {
	margin-top: vr(0.5);
	margin-bottom: vr(0.5);
	img {
		max-width: 100%;
	}
}

a {
	@include link-underline(pink);
}

blockquote {
	@include font(large);
	color: palette(orange);
	margin-top: vr(1.5);
	margin-bottom: vr(1.5);
	&:before,
	&:after {
		content: "";
		background-color: palette(gray, light);
		width: vr(6);
		height: 1px;
		display: block;
		z-index: 10;
	}
	p {
		margin-right: 0;
		margin-left: 0;
	}
	cite,
	small {
		display: block;
	}
	em,
	i,
	cite {
		font-style: normal;
	}
}

ul,
ol {
	padding-left: 1.25em;
	margin-bottom: vr(0.5);
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	padding-bottom: 0;
}

dl {
	margin-top: vr(0.5);
	margin-bottom: vr(0.5);
}

dt {
	font-weight: 700;
}

dd {
	margin-top: vr(0.5);
	margin-bottom: vr(0.5);
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	vertical-align: middle;
}

.gallery {
	clear: both;
}

table,
th,
td {
	border: 1px solid palette(gray, light);
}

th {
	background-color: palette(gray, lighter);
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin-top: vr(0.5);
	margin-bottom: vr(0.5);
	table-layout: fixed;
	/* Prevents HTML tables from becoming too wide */
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

th,
td {
	padding: 0.4375em;
}
