// ==== SEARCH ==== //

/* Style the search form and search results here. */

/**
 * 1. Search Form
 * 2. Search Results
 */


 // 1. Search Form //

.search-form {
	label {
		position: relative;
		display: block;
		&:before {
			content: '\73';
			display: inline-block;
			position: absolute;
			padding: vr(0.4) vr(0.75);
			font-family: 'uwc-website' !important;
			font-style: normal !important;
			font-weight: normal !important;
			font-variant: normal !important;
			text-transform: none !important;
			speak: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
	.search-field {
		@include inputs;
		padding-left: vr(1.75);
	}
}


// 2. Search Results //

.search-header {
	margin-top: vr(2);
	@include ctnr(golden);
	.search-wrapper {
		margin-bottom: vr(1.5);		
	}
	.search-title {
		@include font(small);
	}
}

.search-result {
	@include ctnr(golden);
	border: $border-gray;
	padding: vr(0.75) vr(1);
	margin-top: vr(0.5);
	margin-bottom: vr(0.75);
	.result-title {
		@include font(header3);
		color: palette(blue);
		&:after {
			content: '→';
			color: inherit;
			display: inline-block;
			opacity: 0;
			visibility: hidden;
			transform: translate(0, 0);
			transition: visibility $anim-s, opacity $anim-s, transform $anim-s;
		}
		&:hover,
		&:focus {
			color: palette(blue, light);
		}
		&:hover:after,
		&:focus:after {
			visibility: visible;
			opacity: 1;
			transform: translate(0.35rem, 0);
		}
	}
	.result-link {
		@include font(small);
		color: palette(turquoise);
	}
}
