// ==== WIDGETS ==== //

/* Mixins, functions, and other non-declarative things */

.widget {
	@include font(small);
	color: palette(gray, dark);
	.widget-title {
		@include font(header4);
		color: palette(gray);
		margin-bottom: vr(0.25);
	}
	a {
		@include link-arrow(right, purple);
	}
}
