// ==== FORMS ==== //

/* Style the various button types here. */

@mixin button() {
	@include font(button);
	@include link-arrow(right, white);
	display: inline-block;
	position: relative;
  	z-index: 10;
	outline: none;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.12rem;
	padding: .3rem .9rem;
	border: 2px solid palette(white);
	background-size: 100%;
	background-color: palette(pink);
	background-image: gradient(left, palette(purple), palette(pink));
	&:before {
		background-color: palette(pink,light);
	    background-image: gradient(left, palette(purple,light), palette(pink,light));
	    content: '';    
	    display: block;
	    height: 100%;
	    position: absolute;
	    top: 0; left: 0;
	    opacity: 0;
	    width: 100%;
	    z-index: -10;
	    transition: opacity $anim-s;
	}
	&:hover:before {
      	opacity: 1;
  	}
}
