// ==== FORMS ==== //

/* Style form inputs and labels here. Depends on the 'buttons' stylesheet. */

@mixin inputs {
	@include font(body);
	padding: vr(0.125) vr(0.75);
	border: 1px solid transparent;
	border-radius: 2px;
	background-color: palette(gray, lighter);
	color: palette(gray, darker);
	outline: none;
	width: 100%;
	text-align: left;
	resize: none;
	transition: border $anim-s, box-shadow $anim-s;
	&:focus,
	&:active {
		box-shadow: 0px 0px 5px 1px palette(orange, light);
	}
}


textarea {
	resize: vertical;
	max-width: 100%;
}
