// ==== WORDPRESS ==== //

/* 
 * Several classes for aligning images and block elements (div, p, table etc.) are required by WordPress. 
 * The same classes are used to align images that have a caption. 
 * Three additional CSS classes are needed for the captions, and one more for accessibility.
 */

/**
 * 1. Alignment
 * 2. Captions
 * 3. Media
 * 4. Gallery
 * 5. Accessibility
 */


// 1. Alignment //

.alignnone,
.aligncenter {
	max-width: 100%;
	text-align: center;
}

.alignnone img {
	width: 100vw!important;
	max-width: 100vw;
	margin: vr(0.5) calc((100vw - 100%) / -2);
	@include mappy-query(desktop-large) {
		width: 56rem!important;
		max-width: calc(100vw - #{vr(4)});
		margin-top: vr(0.5);
		margin-right: -10rem;
		margin-bottom: vr(0.5);
		margin-left: -10rem;
	}
}



.aligncenter img {
	margin: vr(0.5) auto vr(0.5);
	width: 100%;
	max-width: 100%;
}

figure.alignright {
	float: right;
	margin: vr(0.25) 0 vr(0.25) vr(0.75);
	max-width: 100%;
}

figure.alignleft {
	float: left;
	margin: vr(0.25) vr(0.75) vr(0.25) 0;
	max-width: 100%;
}



// 2. Captions //

.wp-caption img {
	margin-bottom: vr(0.5);
}

.wp-caption.alignnone,
.wp-caption.aligncenter {
	min-width: 100%;
	text-align: center;
	margin-top: vr(0.5);
	margin-bottom: vr(1);
}

.wp-caption.alignleft {
	text-align: left;
}

.wp-caption.alignright {
	text-align: right;
}

.wp-caption .wp-caption-text,
/* Apply same style in WordPress editor. */
.wp-caption-dd {
	@include font(small);
	color: palette(grey);
}



// 3. Media //

.wp-audio-shortcode a,
.wp-playlist a {
	box-shadow: none;
}

.wp-audio-shortcode,
.wp-video,
.wp-playlist.wp-audio-playlist {
	margin-top: 0;
	margin-bottom: 1.75em;
}

.wp-playlist.wp-audio-playlist {
	padding-bottom: 0;
}

.wp-playlist .wp-playlist-tracks {
	margin-top: 0;
}

.wp-playlist-item .wp-playlist-caption {
	border-bottom: 0;
	padding: 0.7142857143em 0;
}

.wp-playlist-item .wp-playlist-item-length {
	top: 0.7142857143em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
video {
	margin-bottom: vr(1);
	max-width: 100%;
	vertical-align: middle;
}

p > embed,
p > iframe,
p > object,
p > video {
	margin-bottom: 0;
}

.site .avatar {
	border-radius: 50%;
}

.entry-content .wp-smiley,
.entry-summary .wp-smiley,
.comment-content .wp-smiley,
.textwidget .wp-smiley {
	border: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.entry-content a img,
.entry-summary a img,
.comment-content a img,
.textwidget a img {
	display: block;
}


// 4. Gallery //

.gallery {
	margin: vr(0.5) -1.1666667% vr(0.5);
}

.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}


// 5. Accessibility //

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: vr(0.5);
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: vr(0.5);
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Limits the size of images  */
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}